.center {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .align-at-end{
      padding-bottom: 5px;
    max-width: 80%;
    align-items: center;
    display:flex;
    justify-content: space-between;
  }