.avatar-circle {
    width: 40px;
    height: 40px;
    background-color: #10c872;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initials {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}
